body {
    margin: 0;
    display: flex;
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    color: #333;
}

.container-logo, .container {
    display: flex;
    flex-direction: column;    
}

.container-logo {
    flex: 1 2 40%;
    padding-top: 20%;
    background: url(./images/bg.jpg)  top left fixed; 
    background-size: auto;
}

.container-logo h1 {
    background: rgba(227, 130, 211, 0.7);
    width: 75%;
    margin: 0 auto;
    padding: 10px;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 3px #111;
    letter-spacing: 1px;
}

.container {
    flex: 2 60%;
    height: 100vh;
    background: linear-gradient(plum, white, plum);
    box-shadow: 1px 0px 4px #000;
}

.container > p{
    padding: 10px 40px 0;
}

.container > p:first-child{
    padding: 40px 40px 0;
}

 button {
    width: 180px;
    background: purple;
    padding: 10px;
    border: 1px solid plum;
    border-radius: 3px;
    color: #fff;
    font-family: 'Rubik';
    font-size: 0.9em;
}

button:hover {
    background: plum;
    border: 1px solid purple;
    transition: 300ms;
}

a {
    color: purple;
    text-decoration: none;
}

a:hover{
    color: rgb(65, 2, 65);
}

.input-container{
    display: flex;
    column-gap: 30px;
}

form {
    box-shadow: 0 0px 6px #ccc;
    padding: 30px 40px;
    margin: 20px 0;
    font-size: 0.95em;
    background-color: #fff;
}

.form-column {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

input {
    margin: 8px 0 25px;
    flex-basis: 50%;
    font-size: 1em;
}

input:focus,
input:focus-visible {
    outline-color: plum;
}

input.error {
    outline-color: palevioletred;
}

.small {
    font-size: 0.80em;
    margin-top: 0;
}
.error-message {
    font-size: small;
    color: purple;
    margin: 0;
    visibility: hidden;
}

@media screen and (max-width:780px) {
   body {
        display: block;
   } 
   .container-logo h1 {
        margin-bottom: 60px;
   }
   .form-column {
        margin-left: 15px;
   }
   form {
        margin-left: 0;
        padding-left: 0;
   }
   .container > p,
   .container > p:first-child {
        padding-left: 15px;
    }
    .container > button {
        margin-left: 15px;
    }
    .container {
        padding-bottom: 40px;
    }
    .input-container{
        display: flex;
        column-gap: 15px;
    }
}